@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

@mixin align-center() {
    width: 40%;
    margin: auto;    
}

@mixin flex-container() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin for-body() {
    background-size: contain;
    background-repeat: no-repeat;
    font-family: $main-font;
    font-weight: 400;
}

$main-font: "Josefin Sans", "Arial", sans-serif;

$bgcolor-light-theme: #FFFFFF;
$font-color-light-theme: #9495A5;
$onfocus-font-color-light-theme: #494C6B;

$bgcolor-dark-theme: #171823;
$font-color-dark-theme: #5B5E7E;
$onfocus-font-color-dark-theme: #C8CBE7;

* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    font-size: 18px;
}

.light-theme {
    @include for-body();
    background-color: $bgcolor-light-theme;
    background-image: url(images/bg-desktop-light.jpg);
    color: $font-color-light-theme;
    .shadow {
        box-shadow: 1px 1px 10px 0 #888;
    }
    & #todo-list {
        background-color: $bgcolor-light-theme;
        & .list-item {
            & .unchecked:hover {
                border-color: transparent;
            }
        }
    }
    & .list-item {
        border-bottom: 1px solid #E3E4F1;
        background-color: $bgcolor-light-theme;
        & #new-task {
            background-color: $bgcolor-light-theme;
            &:focus {
                color: #393A4B;
            }
        }
        & .unchecked {
            background-color: $bgcolor-light-theme;
            border-color: #E3E4F1;
        }
        & .task {
            color: $onfocus-font-color-light-theme;
        }
        & .task-complete {
            color: #D1D2DA;
            text-decoration: line-through;
        }
    }
    & .filters-label:hover {
        color: $onfocus-font-color-light-theme;
    }
    footer {
        & a {
            color: $font-color-dark-theme;
        }
    }
}

.dark-theme {
    @include for-body();
    background-color: $bgcolor-dark-theme;
    background-image: url(images/bg-desktop-dark.jpg);
    color: $font-color-dark-theme;
    .shadow {
        box-shadow: 1px 1px 10px 0 #000;
    }
    & #todo-list {
        background-color: $bgcolor-dark-theme;
        & .list-item {
            & .unchecked:hover {
                border-color: transparent;
            }
        }
    }
    & .list-item {
        border-bottom: 1px solid #393A4B;
        background-color: $bgcolor-dark-theme;
        & #new-task {
            background-color: $bgcolor-dark-theme;
            &:focus {
                color: #C8CBE7;
            }
        }
        & .unchecked {
            background-color: $bgcolor-dark-theme;
            border-color: #393A4B;
        }
        & .task {
            color: $onfocus-font-color-dark-theme;
        }
        & .task-complete {
            color: #4D5067;
            text-decoration: line-through;
        }
    }
    & .filters-label:hover {
        color: $onfocus-font-color-dark-theme;
    }
    footer {
        & a {
            color: $font-color-light-theme;
        }
    }
}

#theme-change-btn:hover {
    cursor: pointer;
}

h1 {
    font-size: 2.25rem;
    letter-spacing: .85rem;
    font-weight: 700;
    color: $bgcolor-light-theme;
}

.hide {
    display: none;
}

header {
    @include align-center();
    @include flex-container();
    margin-top: 4rem;
}

main {
    @include align-center();
    margin-top: 40px;
}

.list-item {
    width: 100%;
    height: 3.65rem;
    &:hover {
        cursor: pointer;
    }
}

.task {
    padding-top: 1.3rem;
    display: inline-block;
}

.unchecked {
    float: left;
    width: 1.3rem;
    height: 1.3rem;
    margin: 1.1rem 1.3rem;
    border-radius: 50%;
    border: 1px solid transparent;
}

.unchecked-hover {
    border-radius: 50%;  
    background: linear-gradient(#55DDFF, #C058F3) border-box; 
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
}

.checked {
    border: none;
    background-image: linear-gradient(#55DDFF, #C058F3);
}

.icon-check {
    display: block;
    margin: auto;
    padding-top: 8px;
    width: 11px;
    height: 9px;
}

.close-btn {
    width: 18px;
    height: 18px;
    float: right;
    margin: 24px 24px;
}

#new-task-wrapper {
    border-radius: 5px;
    border: none;
}

#new-task {
    max-width: 80%;
    margin-top: 1.3rem;
    border: none;
    font-family: inherit;
    font-size: inherit;
    letter-spacing: -.25px;
    color: inherit;
    &:focus {
        outline: none;
    }
}

#todo-list {
    width: 100%;
    margin-top: 24px;
    border-radius: 5px;
    & .list-item {
        &:nth-child(1) {
            border-radius: 5px 5px 0 0;
        }
    }
}

.todo-list-menu {
    @include flex-container();
    width: 100%;
    height: 3.55rem;
    justify-content: space-around;
    font-size: .8rem;
    letter-spacing: -.19px;
}

#filters {
    list-style: none;
    & li {
        display: inline;
        font-weight: 700;
        &:nth-child(2) {
            padding: 0 1rem;
        }
        & input:checked + .filters-label {
            color: #3A7CFD;
        }
    }
}

.filters-label:hover {
    cursor: pointer;
}

#descr {
    margin-top: 50px;
    text-align: center;
    font-size: .8rem;
}

footer {
    @include align-center();
    margin-top: 1rem;
    font-size: .5rem;
    text-align: center;
    & a {
        &:hover {
            color: #3A7CFD;
            text-decoration: none;
        }
    }
}

@media (max-width: 480px) {
    html, body {
        font-size: 12px;
    }
    @mixin align-center() {
        width: 90%;
    }
    main, header, footer {
        @include align-center();
    }
    .light-theme {
        background-image: url(images/bg-mobile-light.jpg);
    }
    .dark-theme {
        background-image: url(images/bg-mobile-dark.jpg);
    }
}