@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  font-size: 18px;
}

.light-theme {
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  background-image: url(images/bg-desktop-light.jpg);
  color: #9495A5;
}
.light-theme #todo-list {
  background-color: #FFFFFF;
}
.light-theme .list-item {
  border-bottom: 1px solid #E3E4F1;
  background-color: #FFFFFF;
}
.light-theme .list-item #new-task {
  background-color: #FFFFFF;
}
.light-theme .list-item #new-task:focus {
  color: #393A4B;
}
.light-theme .list-item .unchecked {
  background-color: #FFFFFF;
  border-color: #E3E4F1;
}
.light-theme .list-item .unchecked:hover {
  border-color: transparent;
}
.light-theme .list-item .task {
  color: #494C6B;
}
.light-theme .list-item .task-complete {
  color: #D1D2DA;
  text-decoration: line-through;
}
.light-theme .filters-label:hover {
  color: #494C6B;
}

.dark-theme {
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-weight: 400;
  background-color: #171823;
  background-image: url(images/bg-desktop-dark.jpg);
  color: #5B5E7E;
}
.dark-theme #todo-list {
  background-color: #171823;
}
.dark-theme .list-item {
  border-bottom: 1px solid #393A4B;
  background-color: #171823;
}
.dark-theme .list-item #new-task {
  background-color: #171823;
}
.dark-theme .list-item #new-task:focus {
  color: #C8CBE7;
}
.dark-theme .list-item .unchecked {
  background-color: #171823;
  border-color: #393A4B;
}
.dark-theme .list-item .unchecked:hover {
  border-color: transparent;
}
.dark-theme .list-item .task {
  color: #C8CBE7;
}
.dark-theme .list-item .task-complete {
  color: #4D5067;
  text-decoration: line-through;
}
.dark-theme .filters-label:hover {
  color: #C8CBE7;
}

#theme-change-btn:hover {
  cursor: pointer;
}

h1 {
  font-size: 2.25rem;
  letter-spacing: 0.85rem;
  font-weight: 700;
  color: #FFFFFF;
}

.hide {
  display: none;
}

header {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

main {
  width: 40%;
  margin: auto;
  margin-top: 40px;
}

footer {
  width: 40%;
  margin: auto;
  text-align: center;
}

.list-item {
  width: 100%;
  height: 3.65rem;
  border-radius: 5px;
}
.list-item:hover {
  cursor: pointer;
}

.task {
  padding-top: 24px;
  display: inline-block;
}

.unchecked {
  float: left;
  width: 1.33rem;
  height: 1.33rem;
  margin: 20px 24px;
  border-radius: 50%;
  border: 1px solid transparent;
}

.unchecked-hover {
  border-radius: 50%;
  background: linear-gradient(#55DDFF, #C058F3) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.checked {
  border: none;
  background-image: linear-gradient(#55DDFF, #C058F3);
}

.icon-check {
  display: block;
  margin: auto;
  padding-top: 8px;
  width: 11px;
  height: 9px;
}

.close-btn {
  width: 18px;
  height: 18px;
  float: right;
  margin: 24px 24px;
}

#new-task {
  width: 80%;
  margin-top: 24px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: -0.25px;
  color: inherit;
}
#new-task:focus {
  outline: none;
}

#todo-list {
  width: 100%;
  margin-top: 24px;
  border-radius: 5px;
}

.todo-list-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.55rem;
  justify-content: space-around;
  border-radius: 5px;
  font-size: 0.8rem;
  letter-spacing: -0.19px;
}

.filters {
  list-style: none;
}
.filters li {
  display: inline;
  font-weight: 700;
}
.filters li:nth-child(2) {
  padding: 0 1rem;
}
.filters li input:checked + .filters-label {
  color: #3A7CFD;
}

.filters-label:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */